:root {
    --font-family: "Gilroy", sans-serif;
    --second-family: "Montserrat", sans-serif;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    font-family: var(--font-family);
}

.active {
    color: white;
}

/* header section start */

.header {
    position: relative;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
}

.header.active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header__mapmarker, .header__phone {
    display: flex;
    width: 85px;
    height: 85px;
    justify-content: center;
    align-items: center;
}

.header__mapmarker {
    border-right: 1px solid #EBEBEB;
}

.header__mapmarker.active {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.header__phone {
    border-left: 1px solid #EBEBEB;
}

.header__phone.active {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header__nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-nav__links {
    display: flex;
    list-style-type: none;
    gap: 50px;
    height: 100%;
    color: rgba( 0, 0, 0, 0.3);
}

.header-nav__links.active {
    color: rgba( 255, 255, 255, 0.7);
}

.header-nav__links.active .header-nav__link:hover {
    border-bottom: 1.5px solid white;
    color: white;
}

.header-nav__link {
    align-content: center;
    height: 100%;
    margin: auto;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s;
    color: inherit;
}

.header-nav__links li {
    display: flex;
    align-items: center;
}

.header-nav__link:hover {
    border-bottom: 1.5px solid #222;
    color: var(--Black, #222);

}

/* header section end */

/* section promo start */

.main, .promo {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    flex-grow: 1;
}

.main-promo {
    background-size: 100% 100%;
}

.promo {
    padding-top: 65px;
}

.h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 72px; /* 112.5% */
    text-align: center;
}

span.h1 {
    margin-bottom: 48px;
}

h1.active {
    color: white;
}

.text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px #222222;
}

.text-stroke.active {
    -webkit-text-stroke: 1.5px white;
}

.btn {
    position: relative;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn.active {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

.btn-request {
    width: 207px;
    height: 40px;
    margin-bottom: 84px;
}

.btn-request::before {
    position: absolute;
    content: url('./img/Rectangle__btn.svg');
    top: 5px;
    left: -13px;                         
}

.btn-request.active::before {
    position: absolute;
    content: url('./img/Rectangle__btn__active.svg');
    top: 5px;
    left: -13px;                         
}

.wrapper__sub-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22.5px;
    width: 100%;
    height: 344px;
    padding-top: 173px;
    background-image: url(./img/bg-main.png);
    background-size: 100% 100%;
}

.sub-menu {
    display: flex;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.sub-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 85px;
}

/* section promo end */

/* section portfolio start */

.portfolio {
    width: 100%;
    padding-top: 136px;
    padding-left: 90px;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.portfolio-header {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 48px;
}

.portfolio-examples {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(4, 270px);
    gap: 10px;
    grid-template-areas:
        "photo1 photo1 photo2"
        "photo3 photo4 photo2"
        "photo5 photo6 photo7"
        "photo5 photo8 photo8";
    margin-left: 80px;
    margin-bottom: 64px;
}

.photo1 {
    grid-area: photo1;
}
.photo2 {
    grid-area: photo2;
}
.photo3 {
    grid-area: photo3;
}
.photo4 {
    grid-area: photo4;
}
.photo5 {
    grid-area: photo5;
}
.photo6 {
    grid-area: photo6;
}
.photo7 {
    grid-area: photo7;
}
.photo8 {
    grid-area: photo8;
}

.btn-projects {
    width: 182px;
    height: 40px;
    align-self: center;
}

.btn-projects::before {
    position: absolute;
    content: url('./img/Rectangle__btn__projects.svg');
    top: 5px;
    left: -13px;                         
}

/* section portfolio end */

/* section contacts start */

.contacts {
    width: 100%;
    padding-top: 136px;
    padding-left: 100px;
}

.contacts-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.contacts-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 48px;
}

.contacts-info {
    display: flex;
    width: fit-content;
    padding-left: 70px;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 370px;
}

.address-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.h3 {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; /* 142.857% */
}

.address-item span {
    color: #222;
    font-family: var(--second-family);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 184.615% */
}

.social {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.contacts-form {
    display: flex;
    flex-direction: column;
}

.contacts-form .h3 {
    margin-bottom: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 28px;
}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50px;
}

.form-label {
    color: #222;
    font-family: var(--second-family);
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 133.333% */
}

.form-input {
    width: 270px;
    height: 24px;
    border: none;
    border-bottom: 1px solid #EBEBEB;
    outline: none;
}

.form-desc {
    color: #909090;
    font-family: var(--second-family);
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 133.333% */
}

.form-desc span {
    color: #222;
}

.dots {
    margin-bottom: 30.5px;
    margin-left: 13px;
}

.btn-form {
    width: 260px;
    height: 40px;
}

.btn-form::before {
    position: absolute;
    content: url('./img/Rectangle__btn__form.svg');
    top: 5px;
    left: -11px;                         
}

/* section contacts end */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24.5px;
    width: 100%;
    height: 209px;
    padding-top: 135px;
}

.footer img {
    width: 1110px;
}

.copyright {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    color: #222;
    font-family: var(--second-family);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.copyright span{
    color: #222;
    font-family: var(--font-family);;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; /* 142.857% */
}













/* .btn-request {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 287px;
    height: 58px;
    border: 1px solid #d0fe06;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);;
    text-decoration: none;

    padding-left: 72px;
    animation: text-to-left 2s forwards;
} */

@keyframes text-to-left {
    100% {
        padding-left: 25px;
        color: white;
    }
}

.btn-checkprice__arrow {
    position: absolute;
    top: -7px;
    left: 0;
    animation: arrow-to-right 2s forwards;
}

@keyframes arrow-to-right {
    100% {
        transform: translate(219px, 0);
    }
}

.promo__video {
    position: absolute;
    top: 170px;
    left: 260px;
    z-index: -1;
}
