/* @font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl'),
         url('fonts/MuseoSansCyrl300.ttf') format('ttf');
    font-weight: 300;
  }
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl'),
         url('fonts/MuseoSansCyrl500.ttf') format('ttf');
    font-weight: 500;
  }
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl'),
         url('fonts/MuseoSansCyrl700.ttf') format('ttf');
    font-weight: 700;
  }
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl'),
         url('fonts/MuseoSansCyrl900.ttf') format('ttf');
    font-weight: 900;
  } */

:root {
    --font-family: "Gilroy";
    --second-family: "Commissioner", sans-serif;
    --third-family: "Roboto", sans-serif;
    --font3: "Gilroy", sans-serif;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
}

.header {
    position: relative;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 132px; */
    /* gap: 357px; */
    /* margin-bottom: 57px; */
    border: 1px solid green;
}

.header__mapmarker, .header__phone {
    display: flex;
    width: 85px;
    height: 85px;
    border: 1px solid #EBEBEB;
    /* border-top-color: white; */
    /* border-left-color: white; */

}

/* .header__phone {
    border: 1px solid #EBEBEB;
    border-top-color: white;
    border-left-color: white;
} */

.img__map, .img__phone {
    margin: auto;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-nav__links {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    
}

.header-nav__link {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    color:#222222B2;
}

.nav-left-block {
    margin-right: 452px;
}

.h1 {
    font-family: Gilroy;
    font-size: 64px;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    text-decoration-skip-ink: none;
}







.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}






.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__h1 {
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 60px;
    color: #fff;
    margin-bottom: 87px;
    text-align: center;
}

.promo__h1::after {
    position: absolute;
    content: 'на всю жизнь';
    background: linear-gradient(139deg, #f6689e 0%, #e89737 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 92px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}



.btn-request {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 287px;
    height: 58px;
    border: 1px solid #d0fe06;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);;
    text-decoration: none;

    padding-left: 72px;
    animation: text-to-left 2s forwards;
}

@keyframes text-to-left {
    100% {
        padding-left: 25px;
        color: white;
    }
}

.btn-checkprice__arrow {
    position: absolute;
    top: -7px;
    left: 0;
    animation: arrow-to-right 2s forwards;
}

@keyframes arrow-to-right {
    100% {
        transform: translate(219px, 0);
    }
}

.promo__video {
    position: absolute;
    top: 170px;
    left: 260px;
    z-index: -1;
}
