/* @font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl'),
         url('fonts/MuseoSansCyrl300.ttf') format('ttf');
    font-weight: 300;
  }
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl'),
         url('fonts/MuseoSansCyrl500.ttf') format('ttf');
    font-weight: 500;
  }
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl'),
         url('fonts/MuseoSansCyrl700.ttf') format('ttf');
    font-weight: 700;
  }
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl'),
         url('fonts/MuseoSansCyrl900.ttf') format('ttf');
    font-weight: 900;
  } */

:root {
    --font-family: "Gilroy", sans-serif;
    --second-family: "Montserrat", sans-serif;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    font-family: var(--font-family);
}


/* header section start */

.header {
    position: relative;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 132px; */
    /* gap: 357px; */
    /* margin-bottom: 57px; */
    border: 1px solid green;
    /* margin-bottom: 65px; */
}

.header__mapmarker, .header__phone {
    display: flex;
    width: 85px;
    height: 85px;
    border: 1px solid #EBEBEB;
    /* border-top-color: white; */
    /* border-left-color: white; */

}

/* .header__phone {
    border: 1px solid #EBEBEB;
    border-top-color: white;
    border-left-color: white;
} */

.img__map, .img__phone {
    margin: auto;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-nav__links {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    
}

.header-nav__link {
    
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    color:#222222B2;
}

/* header section end */

/* section promo start */

.main, .promo {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;

}

.main {
    flex-grow: 1;
}

.promo {
    padding-top: 65px;
}

.h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 72px; /* 112.5% */
    text-align: center;

    width: 981px;
    margin-bottom: 48px;
}

.text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px #222222;
}

.btn {
    position: relative;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}




.btn-request {
    width: 207px;
    height: 40px;
    margin-bottom: 84px;
}

.btn-request::before {
    position: absolute;
    content: url('./img/Rectangle__btn.svg');
    top: 5px;
    left: -13px;                         
}



.wrapper__sub-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22.5px;
    width: 100%;
    height: 344px;
    padding-top: 173px;

    background-image: url(./img/bg-main.png);
    /* background-size: no-repeat; */
    background-size: 100% 100%;

    border: 1px solid green;

}

.sub-menu {
    display: flex;
    width: 100%;
    /* flex: 1; */
    /* justify-content: center; */
    /* align-items: center; */
    
    /* gap: 1px; */
    border: 1px solid rgba(255, 255, 255, 0.3);



}

.sub-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    color: #FFF;

    /* margin: auto; */
    /* border-width: 1px; */
    /* border-style: solid, 0 1 0 0; */
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 85px;

}

/* section promo end */

/* section portfolio start */

.portfolio {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    padding-top: 136px;
    padding-left: 90px;
    border: 1px solid blue;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid red;

}

.portfolio-header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 40px;
    margin-bottom: 48px;
}

.portfolio-examples {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(4, 270px);
    gap: 10px;
    grid-template-areas:
        "photo1 photo1 photo2"
        "photo3 photo4 photo2"
        "photo5 photo6 photo7"
        "photo5 photo8 photo8";
    border: 1px solid blue;
    margin-left: 80px;
    margin-bottom: 64px;
}

.photo1 {
    grid-area: photo1;
}
.photo2 {
    grid-area: photo2;
}
.photo3 {
    grid-area: photo3;
}
.photo4 {
    grid-area: photo4;
}
.photo5 {
    grid-area: photo5;
}
.photo6 {
    grid-area: photo6;
}
.photo7 {
    grid-area: photo7;
}
.photo8 {
    grid-area: photo8;
}






.btn-projects {
    width: 182px;
    height: 40px;
    align-self: center;
}


.btn-projects::before {
    position: absolute;
    content: url('./img/Rectangle__btn__projects.svg');
    top: 5px;
    left: -13px;                         
}


.contacts {
    width: 100%;
    padding-top: 136px;
    padding-left: 100px;
    border: 1px solid blue;

}

.contacts-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid yellow;

}

.contacts-header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    margin-bottom: 48px;
}


























/* .btn-request {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 287px;
    height: 58px;
    border: 1px solid #d0fe06;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);;
    text-decoration: none;

    padding-left: 72px;
    animation: text-to-left 2s forwards;
} */

@keyframes text-to-left {
    100% {
        padding-left: 25px;
        color: white;
    }
}

.btn-checkprice__arrow {
    position: absolute;
    top: -7px;
    left: 0;
    animation: arrow-to-right 2s forwards;
}

@keyframes arrow-to-right {
    100% {
        transform: translate(219px, 0);
    }
}

.promo__video {
    position: absolute;
    top: 170px;
    left: 260px;
    z-index: -1;
}
